<header class="masthead">
   <h1 class="masthead-heading">The Tweetful Team</h1>
    <p class="masthead-intro">Best tweeters in the business</p>
</header>

<section class="info">  
  <header>
    <h2>Peter Lonestar</h2>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
    <h2>Bill Billerson</h2>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
 <header>
    <h2>You!</h2>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<footer>
  <section class="footer">
    Contact us: <span>admin@tweetful.io</span>
  </section>
</footer>